shared/node-red/migrations/2026.02.16T15.46.27/tabs/test-hello-flow.json
[
  {
    "id": "9482f0adb79d3b67",
    "type": "function",
    "z": "tab-test-hello",
    "name": "function 1",
    "func": "return (async () => {\n    try {\n        const os = global.get('os');\n        const container = global.get('container');\n\n        const models = container().resolve('models');\n\n        const users = await models.User.findAll();\n\n        msg.payload.os_platform = os.platform();\n        msg.payload.models = Object.keys(models);\n        msg.payload.users = users;\n\n        return [msg, null]; // output 1\n    } catch (err) {\n        msg.error = err.message;\n        return [null, msg]; // output 2\n    }\n})();",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 180,
    "wires": [["node-http-response-hello"]]
  },
  {
    "id": "node-change-hello",
    "type": "change",
    "z": "tab-test-hello",
    "name": "Set Hello Message",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"message\": \"Hello from Node-RED test-hello API\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "node-http-in-hello",
    "type": "http in",
    "z": "tab-test-hello",
    "name": "API Proxy",
    "url": "/test-hello",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 100,
    "wires": [["9482f0adb79d3b67"]]
  },
  {
    "id": "node-http-response-hello",
    "type": "http response",
    "z": "tab-test-hello",
    "name": "",
    "statusCode": "200",
    "headers": {
      "content-type": "application/json"
    },
    "x": 860,
    "y": 260,
    "wires": []
  },
  {
    "id": "tab-test-hello",
    "type": "tab",
    "label": "Test Hello Flow",
    "disabled": false,
    "info": ""
  }
]
